*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider {
    width: 100%;
    margin: 20px auto;
}
#lightSlider {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.slider li {
    display: block;
    float: left;
    cursor:pointer;
}
.slider img {
    display: block;
    height: auto;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.lSSlideOuter .lSPager.lSGallery li {
    pointer-events: none;
}
.lSAction>a {
    display: none;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li{
  border-radius: 10px;
}

.lSSlideOuter .lSPager.lSGallery li.active:hover, .lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 10px;
}
.fancybox-image, .fancybox-spaceball {
    border-radius: 10px;
}